--- 
import { eq } from "astro:db";
import { Manga } from "astro:db";
import { db } from "astro:db";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

export const prerender = false;
console.log(Astro.params);
const { mangaId } = Astro.params;
const { id, title, alternativeTitles, chapters, cover, updated } = await db.select().from(Manga).where(eq(Manga.id, Number(mangaId))).then(it => it[0]);
---

<DefaultLayout>
    <h2 class="text-2xl text-center">{title}</h2>
    <div class="grid">

    </div>
</DefaultLayout>